.home-root-flex{
  background: var(--ant-color-bg-container);
}

.ranking-list .ant-list-header {
  border-block-end: none !important;
}

.rank-circle {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  margin-right: 16px;
}

.rank-circle-top {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  background-color: #000;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: bold;
  margin-right: 16px;
}