<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atlas.user.mapper.OrganizationMapper">

    <resultMap type="com.atlas.user.domain.entity.Organization" id="OrganizationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="orgType" column="org_type" jdbcType="VARCHAR"/>
        <result property="orgPath" column="org_path" jdbcType="VARCHAR"/>
        <result property="orgPathName" column="org_path_name" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
        <result property="creatorName" column="creator_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updaterId" column="updater_id" jdbcType="INTEGER"/>
        <result property="updaterName" column="updater_name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findMembers" resultType="com.atlas.user.domain.vo.OrgMemberVO">
        SELECT
            f.id,
            f.user_id,
            f.org_id,
            f.pos_id,
            f.join_time,
            f.is_main,
            u.full_name as user_full_name,
            t.org_name,
            t.org_type,
            t.org_path,
            t.org_path_name,
            p.pos_name
        from organization t
        INNER JOIN user_org f ON t.id = f.org_id
        INNER JOIN user u ON f.user_id = u.id
        INNER JOIN position p ON f.pos_id = p.id
        <where>
            <choose>
                <when test="includeChild == true">
                    AND t.org_path LIKE CONCAT(#{orgPath}, '%')
                </when>
                <otherwise>
                    AND t.org_path = #{orgPath}
                </otherwise>
            </choose>
        </where>
        ORDER BY f.is_main DESC, f.join_time ASC
    </select>


</mapper>

