<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atlas.user.mapper.UserOrgMapper">


    <select id="selectByPairs" resultType="com.atlas.user.domain.entity.UserOrg">
        SELECT id, user_id, org_id, pos_id, is_main, join_time
        FROM user_org
        WHERE (user_id, org_id) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.userId}, #{item.orgId})
        </foreach>
    </select>

    <delete id="batchDeletePairwise">
        DELETE FROM user_org WHERE (user_id, org_id) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.userId}, #{item.orgId})
        </foreach>
    </delete>


</mapper>

