.typography-text-icon:hover {
  color: var(--ant-color-link);
  cursor: pointer;
}

.hoverable-list-item:hover {
  background-color: var(--ant-control-item-bg-hover);
  border-radius: var(--ant-border-radius);
}

.hoverable-list-item .actions {
  display: none;
}

.hoverable-list-item:hover .actions {
  display: flex;
}

.typography-text-title {
  color: lightgray;
  font-size: 12px;
}


.typography-text-checkbox-title {
  display: inline-block !important;
  max-width: 5em !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media print {

  /* 移除 Antd 容器的各种限制 */
  .ant-table-container, 
  .ant-table-content {
    display: block !important;
  }

  /* 核心：强制剩下的列自适应 A4 纸宽度 */
  table {
    width: 100% !important;
    table-layout: auto !important;
  }

  /* 隐藏那些虽然删了列但可能残留的 UI */
  .ant-table-placeholder,
  .ant-table-pagination {
    display: none !important;
  }
}